@font-face {
  font-family: IRANSansXFaNum;
  src: url("../font/IRANSansXFaNum-Regular.woff") format("woff");
}

* {
  margin: 0;
  font-family: IRANSansXFaNum;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  background-color: #d9d9d9;
}

.nav-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: #0097a7;
}

@media (max-width: 1120px) {
  .nav-1 {
    width: calc(1120px - 20px);
    padding: 0 10px;
  }
}

.nav-1 .header1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1120px;
  height: 30px;
  background-color: transparent;
  color: #fff;
}

@media (max-width: 1120px) {
  .nav-1 .header1 {
    width: 100%;
  }
}

.nav-1 .header1 .ul-1-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-1 .header1 .ul-1-header a {
  color: #fff;
  font-size: 11px;
  font-weight: 500;
  margin-left: 14px;
}

.nav-1 .header1 .ul-2-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-1 .header1 .ul-2-header a, .nav-1 .header1 .ul-2-header p {
  color: #fff;
  font-size: 12px;
  font-weight: 500;
}

.nav-1 .header1 .ul-2-header i {
  font-size: 17px;
}

.nav-1 .header1 .ul-2-header li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 14px;
}

.nav-1 .header1 .ul-2-header .jostojo-i-h {
  cursor: pointer;
  padding-right: 10px;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.nav-1 .header1 .ul-2-header .jostojo-h {
  cursor: pointer;
  padding-left: 10px;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
}

.nav-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 60px;
  background-color: #fff;
  -webkit-box-shadow: 1px 0.5px 10px 1px rgba(0, 0, 0, 0.4);
          box-shadow: 1px 0.5px 10px 1px rgba(0, 0, 0, 0.4);
}

@media (max-width: 1120px) {
  .nav-2 {
    width: 1120px;
  }
}

.nav-2 .header2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1120px;
  background-color: transparent;
}

@media (max-width: 1120px) {
  .nav-2 .header2 {
    width: 100%;
  }
}

.nav-2 .header2 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-2 .header2 ul img {
  margin-left: 10px;
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

.nav-2 .header2 ul a {
  color: #212121;
  font-size: 14px;
  font-weight: 500;
  margin-left: 10px;
}

.nav-2 .header2 ul a:hover {
  color: #0097a7;
}

.nav-2 .header2 ul .li-chesmak-zan a {
  margin-left: 3px;
}

.nav-2 .header2 ul .li-chesmak-zan img {
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

.nav-2 .header2 .img-gif-tabligh-header {
  cursor: pointer;
  border-radius: 4px;
  height: 55px;
  margin: 3px 3px 3px 0;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 1120px;
  padding-top: 15px;
  margin: 0 auto;
}

main .m-bottom {
  margin-bottom: 15px;
}

main .jadval-lig {
  width: 100%;
}

main .jadval-lig table {
  width: 100%;
  border-collapse: collapse;
}

main .jadval-lig table caption {
  width: 100%;
  background-color: #4285f4;
  text-align: center;
  color: #fff;
}

main .jadval-lig table thead {
  width: 100%;
}

main .jadval-lig table thead tr {
  background-color: #777;
  width: 100%;
  color: #fff;
  text-align: center;
  font-size: 13px;
}

main .jadval-lig table thead tr th {
  color: #fff;
  font-size: 13.5px;
  font-weight: 500;
  text-align: center;
}

main .jadval-lig table tbody {
  background-color: #fff;
}

main .jadval-lig table tbody tr td {
  text-align: center;
  font-size: 13px;
  padding: 4px 0;
  color: #212121;
}

main .jadval-lig table tbody tr:nth-child(odd) {
  background-color: #f3f3f3;
}

main .bakhsh-yek-roz .natije-bazi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 3px;
}

main .bakhsh-yek-roz .natije-bazi img {
  width: 20px;
  height: 20px;
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

main .bakhsh-yek-roz .natije-bazi a {
  color: #212121;
  font-size: 12px;
  font-weight: 500;
}

main .bakhsh-yek-roz .natije-bazi:nth-of-type(even) {
  background-color: #f3f3f3;
}

main .bakhsh-yek-roz .tarikh-jadval {
  background-color: #777;
  padding: 0 3px;
}

main .bakhsh-yek-roz .tarikh-jadval p {
  color: #fff;
  font-size: 13.5px;
  font-weight: 500;
  text-align: center;
}

main h3 {
  color: #0097a7;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  padding: 10px 0 20px 0;
}

main .moshahede-kamel-jadval {
  background-color: #fafafa;
  border-radius: 0 0 5px 5px;
  padding: 7px 0;
}

main .moshahede-kamel-jadval a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000;
  font-size: 14px;
  font-weight: 500;
  padding: 3px 0;
}

main .moshahede-kamel-jadval a p {
  padding-left: 5px;
}

main .moshahede-kamel-jadval a i {
  font-size: 11px;
}

main .tabligh-slider {
  position: relative;
  width: 300px;
  border: 1px solid #cccccc;
}

main .tabligh-slider .caption-tabligh-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #777777;
  padding: 4px 10px 4px 4px;
  height: 100%;
  background-color: #eeeeee;
  border-bottom: 1px solid #dddddd;
}

main .tabligh-slider .caption-tabligh-slider a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .tabligh-slider .body-tabligh-slider {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow-x: hidden;
}

main .tabligh-slider .body-tabligh-slider div {
  padding: 10px 5px;
}

main .tabligh-slider .body-tabligh-slider div a {
  color: #444444;
  font-size: 15px;
  font-weight: 600;
}

main .tabligh-slider .body-tabligh-slider div img {
  width: 290px;
}

main .tabligh-slider .body-tabligh-slider:hover a {
  color: #dc3545;
}

main .tabligh-slider .i-tabligh-slider {
  background-color: rgba(0, 0, 0, 0.27);
  color: #fff;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  cursor: pointer;
  padding: 8px 2px;
  position: absolute;
  top: 50%;
}

main .tabligh-slider .i-tabligh-slider:hover {
  background-color: rgba(0, 0, 0, 0.87);
}

main .tabligh-slider .fa-chevron-left {
  left: 0;
}

main .sec-3-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 15px;
}

main .sec-3-main .tabligh-top {
  width: 300px;
  border-radius: 4px;
  margin-bottom: 7px;
  cursor: pointer;
}

main .sec-3-main .bg-aqua {
  background-color: #0097a7;
  border-radius: 6px;
}

main .sec-3-main .bg-aqua .akharin-akhbar-football {
  width: 300px;
  background-color: #fff;
  margin-top: 3px;
  border-radius: 4px 4px 5px 5px;
}

main .sec-3-main .bg-aqua .akharin-akhbar-football .select-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .sec-3-main .bg-aqua .akharin-akhbar-football .select-part a {
  color: #212121;
  font-size: 13px;
  font-weight: 500;
  padding: 10.7px;
}

main .sec-3-main .bg-aqua .akharin-akhbar-football .select-part .jadidtarin {
  border-bottom: 2px solid #0097a7;
}

main .sec-3-main .bg-aqua .akharin-akhbar-football .select-part .porbazdid {
  border-bottom: 2px solid #fff;
}

main .sec-3-main .bg-aqua .akharin-akhbar-football .select-part .porhashie {
  border-bottom: 2px solid #fff;
}

main .sec-3-main .bg-aqua .akharin-akhbar-football .select-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f3f3f3;
  padding: 12px 0;
}

main .sec-3-main .bg-aqua .akharin-akhbar-football .select-filter div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .sec-3-main .bg-aqua .akharin-akhbar-football .select-filter div input {
  accent-color: #0097a7;
}

main .sec-3-main .bg-aqua .akharin-akhbar-football .select-filter div p {
  color: #212121;
  font-size: 13px;
  font-weight: 500;
  padding-right: 5px;
}

main .sec-3-main .bg-aqua .akharin-akhbar-football .akhbar-ha {
  height: 1500px;
  padding: 15px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  overflow-y: scroll;
}

main .sec-3-main .bg-aqua .akharin-akhbar-football .akhbar-ha::-webkit-scrollbar {
  width: 5px;
}

main .sec-3-main .bg-aqua .akharin-akhbar-football .akhbar-ha::-webkit-scrollbar-thumb {
  width: 3px;
  background-color: #cfcfcf;
  border-radius: 5px;
}

main .sec-3-main .bg-aqua .akharin-akhbar-football .akhbar-ha .akhbar {
  line-height: 30px;
}

main .sec-3-main .bg-aqua .akharin-akhbar-football .akhbar-ha .akhbar div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .sec-3-main .bg-aqua .akharin-akhbar-football .akhbar-ha .akhbar div p {
  color: #212121;
  font-size: 12px;
  font-weight: 500;
}

main .sec-3-main .bg-aqua .akharin-akhbar-football .akhbar-ha .akhbar div i {
  color: #0097a7;
  padding-left: 3px;
  font-size: 11px;
}

main .sec-3-main .bg-aqua .lig-hay-khareji {
  width: 300px;
  background-color: #fff;
  margin-top: 3px;
  border-radius: 4px 4px 5px 5px;
}

main .sec-3-main .bg-aqua .lig-hay-khareji .d-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 5px;
  margin-bottom: 10px;
}

main .sec-3-main .bg-aqua .lig-hay-khareji .d-select .select {
  width: 145px;
  height: 35px;
  border-radius: 5px;
  border-color: #d9d9d9;
}

main .sec-3-main .bg-aqua .lig-hay-khareji .d-select .select option:hover {
  background: #0097a7;
}

main .sec-3-main .bg-aqua .lig-hay-khareji .jadval-natije-lig .caption-lig {
  background-color: #4285f4;
  text-align: center;
  color: #fff;
}

main .sec-3-main .bg-aqua .jadval-lig-hay-khareji {
  width: 300px;
  background-color: #fff;
  margin-top: 3px;
  border-radius: 4px 4px 5px 5px;
}

main .sec-3-main .bg-aqua .jadval-lig-hay-khareji .caption-jadval-lig-hay-khareji {
  color: #0097a7;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}

main .sec-3-main .bg-aqua .jadval-lig-hay-khareji .select-jadval-lig-hay-khareji {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 5px;
  margin-bottom: 10px;
}

main .sec-3-main .bg-aqua .jadval-lig-hay-khareji .select-jadval-lig-hay-khareji select {
  height: 35px;
  border-radius: 5px;
  border-color: #d9d9d9;
  width: 100%;
}

main .sec-3-main .bg-aqua .moghadamati-jom-jahani-oropa {
  width: 300px;
  background-color: #fff;
  margin-top: 3px;
  border-radius: 4px 4px 5px 5px;
}

main .sec-3-main .bg-aqua .moghadamati-jom-jahani-oropa select {
  width: calc(100% - 10px);
  margin: 0 5px 10px 5px;
  height: 35px;
  border-radius: 5px;
  border-color: #d9d9d9;
}

main .sec-3-main .bg-aqua .moghadamati-jom-jahani-oropa .jadval-moghadamati-jom-jahani-oropa .p-goroh {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  background-color: #28a745;
  text-align: center;
}

main .sec-3-main .bg-aqua .ghahremani-zir-23sal-asia {
  width: 300px;
  background-color: #fff;
  margin-top: 3px;
  border-radius: 4px 4px 5px 5px;
}

main .sec-3-main .bg-aqua .ghahremani-zir-23sal-asia select {
  width: calc(100% - 10px);
  margin: 0 5px 10px 5px;
  height: 35px;
  border-radius: 5px;
  border-color: #d9d9d9;
}

main .sec-3-main .bg-aqua .ghahremani-zir-23sal-asia .jadval-lig thead tr td {
  text-align: center;
  font-size: 14px;
}

main .sec-3-main .bg-aqua .ghahremani-zir-23sal-asia .yellow {
  background-color: #ffc107;
  text-align: center;
  font-size: 14px;
  color: #fff;
}

main .sec-4-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .sec-4-main img {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 7px;
}

@media (max-width: 1120px) {
  main .sec-4-main img {
    width: 100px;
  }
}

main .sec-1-2-slider-big-main .slider-big {
  width: 620px;
  height: 240px;
  margin-bottom: 15px;
  border-radius: 5px;
  background-color: #fff;
  position: relative;
}

main .sec-1-2-slider-big-main .slider-big .fa-angle-right, main .sec-1-2-slider-big-main .slider-big .fa-angle-left {
  z-index: 1000000;
  position: absolute;
  top: 110px;
  color: #0097a7;
  padding: 6px 11px;
  background-color: #fff;
  font-size: 17px;
  cursor: pointer;
}

main .sec-1-2-slider-big-main .slider-big .fa-angle-left {
  border-radius: 0 3px 3px 0;
  left: 310px;
}

main .sec-1-2-slider-big-main .slider-big .fa-angle-right {
  border-radius: 3px 0 0 3px;
  right: 0;
}

main .sec-1-2-slider-big-main .slider-big ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 20px;
  left: 100px;
  z-index: 10000;
}

main .sec-1-2-slider-big-main .slider-big ul li {
  cursor: pointer;
  font-weight: 700;
  color: #fff;
  background-color: #d0d0d0;
  width: 17px;
  height: 18px;
  font-size: 14px;
  margin: 0 3px;
  border-radius: 3px;
  text-align: center;
}

main .sec-1-2-slider-big-main .slider-big ul li:first-child {
  background-color: #0097a7;
}

main .sec-1-2-slider-big-main .slider-big .body-slider-big {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

main .sec-1-2-slider-big-main .slider-big .body-slider-big .d-body-slider-big {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-radius: 5px;
  width: 100%;
  background-color: #fff;
}

main .sec-1-2-slider-big-main .slider-big .body-slider-big .d-body-slider-big img {
  width: 310px;
  border-radius: 0 5px 5px 0;
  -webkit-animation: move 5s infinite;
          animation: move 5s infinite;
}

@-webkit-keyframes move {
  from {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  to {
    -webkit-transform: scale(1.2, 1.2);
            transform: scale(1.2, 1.2);
  }
}

@keyframes move {
  from {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  to {
    -webkit-transform: scale(1.2, 1.2);
            transform: scale(1.2, 1.2);
  }
}

main .sec-1-2-slider-big-main .slider-big .body-slider-big .d-body-slider-big .matn-d-body-slider-big {
  width: 310px;
  position: relative;
  z-index: 500;
  background-color: #fff;
  padding: 15px 10px;
}

main .sec-1-2-slider-big-main .slider-big .body-slider-big .d-body-slider-big .matn-d-body-slider-big p:nth-child(1) {
  font-size: 12px;
  margin-bottom: 5px;
}

main .sec-1-2-slider-big-main .slider-big .body-slider-big .d-body-slider-big .matn-d-body-slider-big p:nth-child(3) {
  font-size: 13px;
}

main .sec-1-2-slider-big-main .slider-big .body-slider-big .d-body-slider-big .matn-d-body-slider-big h1 {
  margin-bottom: 15px;
}

main .sec-1-2-slider-big-main .sec-1-2-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

main .sec-1-2-slider-big-main .sec-1-2-main .sec-1-main .tabligh {
  margin-bottom: 8px;
}

main .sec-1-2-slider-big-main .sec-1-2-main .sec-1-main .tabligh img {
  border-radius: 4px;
  width: 100%;
}

main .sec-1-2-slider-big-main .sec-1-2-main .sec-1-main .bg-aqua {
  background-color: #0097a7;
  border-radius: 6px;
  height: 100%;
  width: 300px;
  padding-top: 3px;
}

main .sec-1-2-slider-big-main .sec-1-2-main .sec-1-main .bg-aqua .lig-hay-irani {
  width: 100%;
  background-color: #fff;
  border-radius: 4px 4px 5px 5px;
}

main .sec-1-2-slider-big-main .sec-1-2-main .sec-1-main .bg-aqua .lig-hay-irani .jadval-natije-lig .caption-lig {
  background-color: #ffc107;
  text-align: center;
  color: #fff;
}

main .sec-1-2-slider-big-main .sec-1-2-main .sec-1-main .bg-aqua .lig-hay-irani .laghv {
  color: #dc3545;
}

main .sec-1-2-slider-big-main .sec-1-2-main .sec-1-main .bg-aqua .lig-hay-irani .d-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

main .sec-1-2-slider-big-main .sec-1-2-main .sec-1-main .bg-aqua .lig-hay-irani .d-select .select {
  width: 145px;
  height: 35px;
  margin: 0 5px;
  border-radius: 5px;
  border-color: #d9d9d9;
}

main .sec-1-2-slider-big-main .sec-1-2-main .sec-1-main .bg-aqua .lig-hay-irani .d-select .select option:hover {
  background: #0097a7;
}

main .sec-1-2-slider-big-main .sec-1-2-main .sec-1-main .tabligh-slider {
  width: 300px;
}

main .sec-1-2-slider-big-main .sec-1-2-main .sec-1-main .tabligh-slider .body-tabligh-slider div img {
  width: 290px;
}

main .sec-1-2-slider-big-main .sec-1-2-main .sec-1-main .bg-aqua .jadval-ligbartar-iran {
  width: 100%;
  background-color: #fff;
  border-radius: 4px 4px 5px 5px;
}

main .sec-1-2-slider-big-main .sec-1-2-main .sec-1-main .bg-aqua .jadval-ligbartar-iran .jadval-lig caption {
  background-color: #ffc107;
}

main .sec-1-2-slider-big-main .sec-1-2-main .sec-1-main .bg-aqua .select-jadval-ligbartar-iran {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 5px;
  margin-bottom: 10px;
}

main .sec-1-2-slider-big-main .sec-1-2-main .sec-1-main .bg-aqua .select-jadval-ligbartar-iran select {
  width: 100%;
  height: 35px;
  border-radius: 5px;
  border-color: #d9d9d9;
}

main .sec-1-2-slider-big-main .sec-1-2-main .sec-1-main .bg-aqua .select-jadval-ligbartar-iran select option:hover {
  background: #0097a7;
}

main .sec-1-2-slider-big-main .sec-1-2-main .sec-1-main .bg-aqua .akharin-akhbar-sayer {
  width: 100%;
  background-color: #fff;
  border-radius: 4px 4px 5px 5px;
}

main .sec-1-2-slider-big-main .sec-1-2-main .sec-1-main .bg-aqua .akharin-akhbar-sayer .akhbar-ha {
  height: 900px;
  padding: 15px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  overflow-y: scroll;
}

main .sec-1-2-slider-big-main .sec-1-2-main .sec-1-main .bg-aqua .akharin-akhbar-sayer .akhbar-ha::-webkit-scrollbar {
  width: 5px;
}

main .sec-1-2-slider-big-main .sec-1-2-main .sec-1-main .bg-aqua .akharin-akhbar-sayer .akhbar-ha::-webkit-scrollbar-thumb {
  width: 3px;
  background-color: #cfcfcf;
  border-radius: 5px;
}

main .sec-1-2-slider-big-main .sec-1-2-main .sec-1-main .bg-aqua .akharin-akhbar-sayer .akhbar-ha .akhbar {
  line-height: 30px;
}

main .sec-1-2-slider-big-main .sec-1-2-main .sec-1-main .bg-aqua .akharin-akhbar-sayer .akhbar-ha .akhbar div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

main .sec-1-2-slider-big-main .sec-1-2-main .sec-1-main .bg-aqua .akharin-akhbar-sayer .akhbar-ha .akhbar div p {
  color: #212121;
  font-size: 12px;
  font-weight: 500;
}

main .sec-1-2-slider-big-main .sec-1-2-main .sec-1-main .bg-aqua .akharin-akhbar-sayer .akhbar-ha .akhbar div i {
  color: #0097a7;
  padding-left: 3px;
  font-size: 11px;
  margin-top: 9px;
}

main .sec-1-2-slider-big-main .sec-1-2-main .sec-1-main .bg-aqua .lig-melathay-valibal {
  width: 100%;
  background-color: #fff;
  border-radius: 4px 4px 5px 5px;
}

main .sec-1-2-slider-big-main .sec-1-2-main .sec-1-main .bg-aqua .lig-melathay-valibal .d-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

main .sec-1-2-slider-big-main .sec-1-2-main .sec-1-main .bg-aqua .lig-melathay-valibal .d-select .select {
  width: 145px;
  height: 35px;
  margin: 0 5px;
  border-radius: 5px;
  border-color: #d9d9d9;
}

main .sec-1-2-slider-big-main .sec-1-2-main .sec-1-main .bg-aqua .lig-melathay-valibal .d-select .select option:hover {
  background: #0097a7;
}

main .sec-1-2-slider-big-main .sec-1-2-main .sec-1-main .bg-aqua .lig-melathay-valibal .jadval-natije-lig .bakhsh-yek-roz .natije-bazi {
  padding: 6px 2px;
}

main .sec-1-2-slider-big-main .sec-1-2-main .sec-1-main .bg-aqua .lig-melathay-valibal .jadval-natije-lig .bakhsh-yek-roz .natije-bazi .d-right-natije-bazi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .sec-1-2-slider-big-main .sec-1-2-main .sec-1-main .bg-aqua .lig-melathay-valibal .jadval-natije-lig .bakhsh-yek-roz .natije-bazi .d-right-natije-bazi .tarafin-natije-bazi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-right: 5px;
}

main .sec-1-2-slider-big-main .sec-1-2-main .sec-1-main .bg-aqua .lig-melathay-valibal .jadval-natije-lig .bakhsh-hay-yek-roz {
  height: 330px;
  overflow-y: scroll;
}

main .sec-1-2-slider-big-main .sec-1-2-main .sec-1-main .bg-aqua .lig-melathay-valibal .jadval-natije-lig .bakhsh-hay-yek-roz::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}

main .sec-1-2-slider-big-main .sec-1-2-main .sec-1-main .bg-aqua .lig-melathay-valibal .jadval-natije-lig .bakhsh-hay-yek-roz::-webkit-scrollbar-thumb {
  width: 3px;
  background-color: #cfcfcf;
  border-radius: 5px;
}

main .sec-1-2-slider-big-main .sec-1-2-main .sec-1-main .bg-aqua .lig-melathay-valibal .jadval-natije-lig .caption-lig {
  background-color: #a57300;
  color: #fff;
  text-align: center;
}

main .sec-1-2-slider-big-main .sec-1-2-main .sec-1-main .bg-aqua .lig-melathay-valibal .jadval-natije-lig .tarikh {
  text-align: center;
  padding: 5px 0;
  font-size: 13px;
}

main .sec-1-2-slider-big-main .sec-1-2-main .sec-1-main .bg-aqua .lig-melathay-valibal .jadval-lig {
  border-radius: 0 0 5px 5px;
}

main .sec-1-2-slider-big-main .sec-1-2-main .sec-1-main .bg-aqua .lig-melathay-valibal .jadval-lig caption {
  background-color: #a57300;
}

main .sec-1-2-slider-big-main .sec-1-2-main .sec-1-main .bg-aqua .pakhsh-zende {
  text-align: center;
  width: 100%;
  background-color: #fff;
  border-radius: 4px 4px 5px 5px;
}

main .sec-1-2-slider-big-main .sec-1-2-main .sec-1-main .bg-aqua .pakhsh-zende .jadval-natije-lig .caption-lig {
  color: #0097a7;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  padding: 10px 0 15px 0;
}

main .sec-1-2-slider-big-main .sec-1-2-main .sec-1-main .bg-aqua .pakhsh-zende .jadval-natije-lig .bakhsh-yek-roz .natije-bazi {
  padding: 8px 5px;
  font-size: 12px;
}

main .sec-1-2-slider-big-main .sec-1-2-main .sec-1-main .bg-aqua .pakhsh-zende .jadval-natije-lig .bakhsh-yek-roz .natije-bazi .p-natije-bazi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 50px;
}

main .sec-1-2-slider-big-main .sec-1-2-main .sec-1-main .bg-aqua .pakhsh-zende .jadval-natije-lig .bakhsh-yek-roz .natije-bazi .d-1-natije-bazi p:nth-child(2) {
  color: #777;
  font-size: 11px;
}

main .sec-1-2-slider-big-main .sec-1-2-main .sec-1-main .bg-aqua .pakhsh-zende .jadval-natije-lig .bakhsh-yek-roz .natije-bazi .d-2-natije-bazi {
  font-size: 10px;
}

main .sec-1-2-slider-big-main .sec-1-2-main .sec-1-main .bg-aqua .pakhsh-zende .jadval-natije-lig .bakhsh-yek-roz .natije-bazi .d-2-natije-bazi a {
  font-size: 10px;
  color: #dc3545;
}

main .sec-1-2-slider-big-main .sec-1-2-main .sec-2-main {
  margin-right: 15px;
}

main .sec-1-2-slider-big-main .sec-1-2-main .sec-2-main .tabligh img {
  width: 100%;
  border-radius: 4px;
}

main .sec-1-2-slider-big-main .sec-1-2-main .sec-2-main .bg-aqua {
  background-color: #0097a7;
  border-radius: 6px;
  padding-top: 3px;
  height: 100%;
}

main .sec-1-2-slider-big-main .sec-1-2-main .sec-2-main .bg-aqua .golzanan-bartar {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 4px 4px 5px 5px;
}

main .sec-1-2-slider-big-main .sec-1-2-main .sec-2-main .bg-aqua .golzanan-bartar select {
  width: calc(100% - 10px);
  margin: 0 5px 10px 5px;
  height: 35px;
  border-radius: 5px;
  border-color: #d9d9d9;
}

main .sec-1-2-slider-big-main .sec-1-2-main .sec-2-main .bg-aqua .golzanan-bartar ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 15px;
}

main .sec-1-2-slider-big-main .sec-1-2-main .sec-2-main .bg-aqua .golzanan-bartar ul li p, main .sec-1-2-slider-big-main .sec-1-2-main .sec-2-main .bg-aqua .golzanan-bartar ul li a {
  color: #000;
  font-size: 13px;
  font-weight: 500;
}

main .sec-1-2-slider-big-main .sec-1-2-main .sec-2-main .bg-aqua .golzanan-bartar ul li p {
  font-size: 12px;
  margin: 0 2px;
}

main .sec-1-2-slider-big-main .sec-1-2-main .sec-2-main .bg-aqua .golzanan-bartar ul li img {
  border-radius: 50%;
}

main .sec-1-2-slider-big-main .sec-1-2-main .sec-2-main .bg-aqua .golzanan-bartar ul li .d-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 8px 0;
}

main .sec-1-2-slider-big-main .sec-1-2-main .sec-2-main .bg-aqua .golzanan-bartar ul li .d-2-li p {
  font-size: 15px;
  font-weight: 600;
}

main .sec-1-2-slider-big-main .sec-1-2-main .sec-2-main .bg-aqua .golzanan-bartar ul li:nth-child(odd) {
  background-color: #f3f3f3;
}

main .sec-1-2-slider-big-main .sec-1-2-main .sec-2-main .bg-aqua .lig-hay-khareji {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 4px 4px 5px 5px;
}

main .sec-1-2-slider-big-main .sec-1-2-main .sec-2-main .bg-aqua .lig-hay-khareji select {
  width: calc(100% - 10px);
  margin: 0 5px 10px 5px;
  height: 35px;
  border-radius: 5px;
  border-color: #d9d9d9;
}

main .sec-1-2-slider-big-main .sec-1-2-main .sec-2-main .bg-aqua .lig-hay-khareji .jadval-natije-lig .caption-lig {
  background-color: #ea4336;
  text-align: center;
  color: #fff;
}

main .sec-1-2-slider-big-main .sec-1-2-main .sec-2-main .bg-aqua .lig-hay-khareji .jadval-lig caption {
  background-color: #ea4336;
}

main .sec-1-2-slider-big-main .sec-1-2-main .sec-2-main .bg-aqua .lig-melat-hay-oropa {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 4px 4px 5px 5px;
}

main .sec-1-2-slider-big-main .sec-1-2-main .sec-2-main .bg-aqua .lig-melat-hay-oropa select {
  width: calc(100% - 10px);
  margin: 0 5px 10px 5px;
  height: 35px;
  border-radius: 5px;
  border-color: #d9d9d9;
}

main .sec-1-2-slider-big-main .sec-1-2-main .sec-2-main .bg-aqua .lig-melat-hay-oropa .jadval-lig-melat-hay-oropa {
  height: 300px;
  overflow-y: scroll;
}

main .sec-1-2-slider-big-main .sec-1-2-main .sec-2-main .bg-aqua .lig-melat-hay-oropa .jadval-lig-melat-hay-oropa::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}

main .sec-1-2-slider-big-main .sec-1-2-main .sec-2-main .bg-aqua .lig-melat-hay-oropa .jadval-lig-melat-hay-oropa::-webkit-scrollbar-thumb {
  width: 3px;
  background-color: #cfcfcf;
  border-radius: 5px;
}

main .sec-1-2-slider-big-main .sec-1-2-main .sec-2-main .bg-aqua .lig-melat-hay-oropa .jadval-lig-melat-hay-oropa .p-goroh {
  background-color: #47a0c2;
  text-align: center;
  color: #fff;
  font-size: 15px;
}

main .sec-1-2-slider-big-main .sec-1-2-main .sec-2-main .bg-aqua .lig-melat-hay-oropa .jadval-lig caption {
  background-color: #47a0c2;
}

main .sec-1-2-slider-big-main .sec-1-2-main .sec-2-main .bg-green {
  background-color: #28a745;
}

main .sec-1-2-slider-big-main .sec-1-2-main .sec-2-main .bg-aqua .video-slider {
  position: relative;
  background-color: #fff;
  width: 302px;
  height: 100%;
  border-radius: 4px 4px 5px 5px;
}

main .sec-1-2-slider-big-main .sec-1-2-main .sec-2-main .bg-aqua .video-slider .bakhshbandi-video-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

main .sec-1-2-slider-big-main .sec-1-2-main .sec-2-main .bg-aqua .video-slider .bakhshbandi-video-slider a {
  color: #000;
  font-size: 15px;
  font-weight: 500;
  width: 100%;
  text-align: center;
  padding-bottom: 8px;
}

main .sec-1-2-slider-big-main .sec-1-2-main .sec-2-main .bg-aqua .video-slider .bakhshbandi-video-slider a:nth-child(1) {
  border-bottom: 2px solid #0097a7;
}

main .sec-1-2-slider-big-main .sec-1-2-main .sec-2-main .bg-aqua .video-slider .fa-angle-right, main .sec-1-2-slider-big-main .sec-1-2-main .sec-2-main .bg-aqua .video-slider .fa-angle-left {
  z-index: 1000000;
  position: absolute;
  top: 170px;
  color: #0097a7;
  padding: 7px 10px;
  background-color: #fff;
  font-size: 17px;
  cursor: pointer;
}

main .sec-1-2-slider-big-main .sec-1-2-main .sec-2-main .bg-aqua .video-slider .fa-angle-left {
  border-radius: 0 3px 3px 0;
  left: 0;
}

main .sec-1-2-slider-big-main .sec-1-2-main .sec-2-main .bg-aqua .video-slider .fa-angle-right {
  border-radius: 3px 0 0 3px;
  right: 0;
}

main .sec-1-2-slider-big-main .sec-1-2-main .sec-2-main .bg-aqua .video-slider .body-video-slider {
  position: relative;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow: hidden;
  width: 100%;
  height: 200px;
}

main .sec-1-2-slider-big-main .sec-1-2-main .sec-2-main .bg-aqua .video-slider .body-video-slider div {
  position: relative;
  width: 302px;
  height: 100%;
}

main .sec-1-2-slider-big-main .sec-1-2-main .sec-2-main .bg-aqua .video-slider .body-video-slider div img {
  height: 100%;
  width: 303px;
}

main .sec-1-2-slider-big-main .sec-1-2-main .sec-2-main .bg-aqua .video-slider .body-video-slider div .fa-play {
  position: absolute;
  top: 75px;
  right: 125px;
  color: #fff;
  font-size: 20px;
  padding: 11px 15px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.6);
}

main .sec-1-2-slider-big-main .sec-1-2-main .sec-2-main .bg-aqua .video-slider .body-video-slider div p {
  position: absolute;
  width: 100%;
  padding-left: 0 !important;
  padding-right: 0 !important;
  bottom: 0;
  right: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(#000), to(transparent));
  background: linear-gradient(0deg, #000, transparent 100%);
  padding: 5px 10px 5px 59px;
  color: #fff;
  font-size: 14px;
}

main .sec-1-2-slider-big-main .sec-1-2-main .sec-2-main .bg-aqua .gishe-slider {
  position: relative;
  background-color: #fff;
  width: 302px;
  height: 100%;
  border-radius: 4px 4px 5px 5px;
}

main .sec-1-2-slider-big-main .sec-1-2-main .sec-2-main .bg-aqua .gishe-slider .fa-angle-right, main .sec-1-2-slider-big-main .sec-1-2-main .sec-2-main .bg-aqua .gishe-slider .fa-angle-left {
  z-index: 1000000;
  position: absolute;
  top: 150px;
  color: #0097a7;
  padding: 4px 12px;
  background-color: #fff;
  font-size: 17px;
  cursor: pointer;
}

main .sec-1-2-slider-big-main .sec-1-2-main .sec-2-main .bg-aqua .gishe-slider .fa-angle-left {
  border-radius: 0 3px 3px 0;
  left: 0;
}

main .sec-1-2-slider-big-main .sec-1-2-main .sec-2-main .bg-aqua .gishe-slider .fa-angle-right {
  border-radius: 3px 0 0 3px;
  right: 0;
}

main .sec-1-2-slider-big-main .sec-1-2-main .sec-2-main .bg-aqua .gishe-slider .body-gishe-slider {
  position: relative;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow: hidden;
  width: 100%;
  height: 240px;
}

main .sec-1-2-slider-big-main .sec-1-2-main .sec-2-main .bg-aqua .gishe-slider .body-gishe-slider div {
  position: relative;
  width: 302px;
  height: 100%;
}

main .sec-1-2-slider-big-main .sec-1-2-main .sec-2-main .bg-aqua .gishe-slider .body-gishe-slider div img {
  height: 200px;
  width: 303px;
}

main .sec-1-2-slider-big-main .sec-1-2-main .sec-2-main .bg-aqua .gishe-slider .body-gishe-slider div p {
  color: #212121;
  font-size: 14px;
  text-align: center;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background-color: #131a2b;
}

@media (max-width: 1120px) {
  footer {
    width: 1120px;
  }
}

footer .footer {
  width: 1250px;
}

footer .footer .sec-1-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 40px 0 30px 0;
}

footer .footer .sec-1-footer .d-sec-footer {
  width: 100%;
}

footer .footer .sec-1-footer .d-sec-footer .caption-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 12.5px;
  font-weight: 600;
}

footer .footer .sec-1-footer .d-sec-footer .caption-footer img {
  margin-left: 10px;
}

footer .footer .sec-1-footer .d-sec-footer .d-matn-sec-1-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  line-height: 27px;
}

footer .footer .sec-1-footer .d-sec-footer .d-matn-sec-1-footer a {
  color: #999;
  font-size: 13px;
  font-weight: 500;
}

footer .footer .sec-2-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding: 15px 0 25px 0;
}

footer .footer .sec-2-footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer .sec-2-footer div .cap-var3-footer {
  color: #fff;
  font-size: 12.5px;
  font-weight: 500;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  margin: 0 5px 0 15px;
}

footer .footer .sec-2-footer div p {
  color: #999;
  font-size: 12px;
  font-weight: 500;
}

footer .footer .sec-2-footer uL {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer .sec-2-footer uL li {
  margin-right: 15px;
}

.d-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 95px;
  z-index: 12000000;
  background-color: #fff;
  display: none;
}

.d-search form {
  width: 75vw;
}

.d-search form input {
  width: 100%;
  height: 45px;
  border-radius: 4px;
  border: 1px solid #0097a7;
}

.d-search form input:focus {
  outline: none;
}

.d-search form input::-webkit-input-placeholder {
  padding: 7px 40px 7px 0;
}

.d-search form input:-ms-input-placeholder {
  padding: 7px 40px 7px 0;
}

.d-search form input::-ms-input-placeholder {
  padding: 7px 40px 7px 0;
}

.d-search form input::placeholder {
  padding: 7px 40px 7px 0;
}

.d-search i {
  cursor: pointer;
  color: #777;
  margin-right: 40px;
}

.bg-dark {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10000000;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
}

.return-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
}

.return-to-top i {
  background-color: #0097a7;
  padding: 10px;
  border-radius: 50%;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.return-to-top i:hover {
  background-color: #212121;
}
/*# sourceMappingURL=style.css.map */